

services:
  backend:
    build: ./backend
    container_name: medlegit-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: medlegit-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
